{% extends 'base.html.twig' %}

{% block title %}twig{% endblock %}

{% block main %}
    <div class="row row-cols-1 row-cols-md-3">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ product }}</h5>
                  <p class="card-text">Here's the Champion</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main %}
